.Logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: inherit;
    margin: 0 10px 0 0;
    text-decoration: none;
}

.Logo h1 {
  font-size: 2.0em;
}

.Logo:hover {
  text-decoration: inherit;
  color: inherit;
}
.Logo a:visited {
    color: inherit;
}
